name: Generate sitemap

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  sitemap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate sitemap.xml
      - uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: https://yasiraboanmar.com

      - name: Commit sitemap
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add sitemap.xml
          git commit -m "Add sitemap.xml" || exit 0
          git push
